Package: ni-control-addon-{veristand_version}
Version: {nipkg_version}
Architecture: windows_all
Maintainer: National Instruments <support@ni.com>
XB-Plugin: file
Description:  This addon provides PID and On/Off (called industrial) control to NI VeriStand. Additionally, it provides special workspace objects tailored towards control.  Last, a PID tuning tool is provided to allow controlled gain changes.
XB-Eula:  
Priority: standard
Homepage: http://www.ni.com
XB-LanguageSupport: en
XB-UserVisible: yes
Section: Add-Ons
XB-DisplayVersion: 1.0
XB-DisplayName: Control Addon for VeriStand {veristand_version}
Depends: 
